\#observation_treeClean.thy\#
\#mealyClean.thy\#
/.idea
*.iml
*.java
mealyClean.thy
observation_treeClean.thy
/out
algorythmClean.thy
mealyClean.thy~
observation_treeClean.thy~
MealyMachineClean.thy
MealyMachineClean.thy~
LsharpClean.thy
LsharpClean.thy~
*.thy~
*.sty
/output
/document
*.zip
